*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #000;
}
#nav{
    height: 80px;
    width: 100%;
    /* background-color: red;  */
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-part2{
    display: flex;
    /* background-color: blue; */
    width: 55%;
    align-items: center;
    justify-content: space-between; 
}
#nav h1{
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
#nav>i{
    font-size: 20px;
}
#nav h5{
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}
#nav img{
    height: 41px;
}
#line{
    width:80px;
    height: 2px;
    background-color: red;
}
#content{
    height: calc(100% - 140px);
    width: 100%;
    /* background-color: lightblue;  */
    display: flex;
    justify-content: space-between;
    position: relative;
}
#left{
    width: 41%;
    height: 100%;
    padding: 7% 100px ;
    /* background-color: red;  */
    
}
#right{
    width: 35%;
    height: 100%;
    /* background-color: red; */
    padding:250px 35px;
}
#center{
    width: 20%;
    height: 100%;
    padding-top: 0px;
    margin-top: 35px;
    /* background-color: red;   */
}
#left h1{
    font-size: 55px;
    line-height: 60px;
    margin-bottom: 20px;
    padding-top: 9px;
    font-weight: 790;
    padding-left :15px;
    
}
#left h1 span{
    color:red;
    font-weight:500;
} 
#left p{
    font-size: 14px;
    width: 60%; 
    margin-bottom: 50px;
    padding-left :15px;
}
#left button{
    background-color: red;
    margin-top: -10px;
    padding: 12px 25px;
    margin-left :15px;
    border-radius: 50px;
    font-size: 15px;
    display: flex;
    align-items: center;
    font-weight: 700;
}
#left button i{
    margin-right: 10px;
}
#left div i{
    font-size: 20px;
    margin-right: 10px;
    color:red;
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-top: -30px;
}
#center-bg{
    background-color: blue;
    height: 87%;
    width: 100%;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    background-image: url(https://c0.wallpaperflare.com/preview/85/135/782/coca-cola-led-signage.jpg);
    background-size: 900%;
    background-position: 30% 40%;
    filter: blur(2px);
}
#content >img{
    height: 104%;
    position: absolute;
    left: 52%;
    transform:translate(-50%,0) ;
    margin-top: -10px;
}
#right-elems{
    /* background-color: red; */
    width:400px;
    padding-left: 30px;
}
#elem1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    /* background-color: blue; */
    border-bottom: 0.1px solid #ffff;
    width: 350px;
    opacity: 0.6;
}
#elem1 h1{
    font-size: 20px;
    font-weight: 600;
}
#elem1 i{
    font-size: 24px;
}
#elem2 h1{
    font-size:20px;
    font-weight: 600;
    margin-bottom:15px ;
    padding-top: 15px;
}
#elem2 p{
    font-size: 10px;
    width: 80%;
    opacity: 0.6;
}
